*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1cccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{

    margin:20px 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width:60%;



}
form{
    padding:2rem;
}
h1{
    padding-top: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

.inner{
    display: flex;
    flex-direction: column;
    padding:0.7rem;
    
}
label{
    padding: 0.6rem;
}
.btn{
    text-align: center;
    
}
button{
    font-size: 2rem;
    width:90%;
    background-color: royalblue;
    border:2px solid royalblue;
    border-radius: 5px;
    color:white;
    margin-bottom: 1rem;
}
button:hover{
    background-color: rgb(9, 9, 205);
    color: white;
    cursor: pointer;
}